* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.header {
    padding: 24px 0;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #95e1d3;
}

.nav__list {
    display: flex;
}

.nav__item:not(:last-of-type) {
    margin-right: 56px;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 3px solid  #f38181;
    position: absolute;
    left: 0;
    bottom: -12px;
    visibility: hidden;
    opacity: 0;
    transition: all .2s linear;
}

.nav__item:hover .nav__link {
    color: #f38181;
}

.nav__item:hover .nav__link::after {
    visibility: visible;
    opacity: 1;
}

.nav__link {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #95e1d3;
    text-transform: uppercase;
    position: relative;
    transition: all .2s linear;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 3px solid  #f38181;
    position: absolute;
    left: 0;
    bottom: -12px;
    visibility: hidden;
    opacity: 0;
}

.services {
    padding-top: 102px;
    padding-bottom: 46px;
}

.title {
    color: #333333;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 66px;
}

.title::after {
    content: "";
    display: block;
    width: 60px;
    border-bottom: 3px solid #f38181;
    margin: 0 auto;
    margin-top: 42px;
}

.title__kaushan-script {
    display: block;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 22px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__item {
    max-width: 382px;
    padding-left: 80px;
    background-repeat: no-repeat;
    background-position: 20px 0;
}

.services__item-icon-alarm {
    background-image: url(../img/icons/alarm.png);
}

.services__item-icon-line-graph {
    background-image: url(../img/icons/line-graph.png);
}

.services__item-icon-computer-ok {
    background-image: url(../img/icons/computer-ok.png);
}

.services__item-icon-book {
    background-image: url(../img/icons/book.png);
}

.services__item-icon-home {
    background-image: url(../img/icons/home.png);
}

.services__item-icon-image {
    background-image: url(../img/icons/image.png);
}


.services__item:nth-of-type(-n+3) {
    margin-bottom: 100px;
}

.services__item-subtitle {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.services__item-desc {
    color: #999999;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}


.team {
    padding-top: 46px;
    padding-bottom: 82px;
}

.team__desc {
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 92px;
    color: #999999;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.team__list {
    display: flex;
    justify-content: space-between;
}

.team__item {
    max-width: 380px;
    text-align: center;
}

.team__item:hover .team__item-img-wrap {
    transform: translate(-10px, -10px);
}

.team__item:hover .team__overlay {
    visibility: visible;
    opacity: 1;
}

.team__item-img-wrap {
    margin-bottom: 30px;
    position: relative;
    transition: all .2s linear;
}

.team__overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    box-shadow: 10px 10px  #95e1d3;
    visibility: hidden;
    opacity: 0;
    transition: all .2s linear;
}

.team-social__list {
    display: flex;
}

.team-social__link {
    width: 56px;
    height: 56px;
    display: block;
    background-color: #fce38a;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .2s linear;
}

.team-social__link:hover {
    background-color: #95e1d3;
}

.team-social__link-facebook {
    background-image: url(../img/icons/facebook.png);
}

.team-social__link-twitter {
    background-image: url(../img/icons/twitter.png);
}

.team-social__link-pinterest {
    background-image: url(../img/icons/pinterest.png);
}

.team-social__link-instagram {
    background-image: url(../img/icons/instagram.png);
}

.team__name {
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.team__position {
    color: #999999;
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
}

.footer {
    position: relative;
    padding: 10px 0;
}

.footer::before {
    content: "";
    display: block;
    max-width: 1200px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
}

.footer__link {
    color: #f38181;
}

.footer-form {
    display: flex;
}

.footer-form__input {
    width: 230px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid #e7e7e7;
}

.footer-form__input::placeholder {
    color: #cccccc;
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 300;
}

.footer-form__btn {
    padding: 0 33px;
    background-color: #95e1d3;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}