p, ul, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    line-height: 24px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.header {
    padding: 76px 0 50px;
    text-align: center;
}

.nav__item {
    display: inline-block;
    margin-right: 103px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    color: #626262;
    text-transform: uppercase;
}

.nav__link:hover {
    color: #03a9f4;
}

.main-content {
    padding: 54px 0 54px;
    word-spacing: -4px;
}

.article {
    max-width: 420px;
    margin-bottom: 138px;
    display: inline-block;
    word-spacing: normal;
}

.article:nth-child(odd) {
    margin-right: 60px;
}

.article:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.article__title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 34px;
}

.article__subtitle {
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    padding: 30px 0;

}

.btn {
    display: block;
    margin: 0 auto;
    padding: 20px 32px;
    color: #626262;
    font-size: 20px;
    border: 1px solid #626262;
}

.btn_margin-bottom {
    margin-bottom: 70px;
}